button#form_send{
    position: relative;
    left: 260px;
    top: -30px;
}

#header {
    background-color: rgb(66,139,202);
    color: white;
}

#form > div:nth-child(1) > label {
    position: relative;
    left: -5px;
    color: rgb(66,139,202);
}

#footer-text {
    color: rgb(66,139,202);
}

#delivery-title{
    color: rgb(92,184,92);
}

#error-title{
    color: rgb(217,83,79);
}