<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}DeliverySystem{% endblock %}</title>

    <!-- Bootstrap - Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ requestPath }}/assets/css/base.css">
</head>
<body class="container">
    <div class="row container">
        <div class="col-sm-12 text-center small">
            <h2 id="header" class="jumbotron">DELIVERY SYSTEM</h2>
        </div>
    </div>

    <div id="content" class="container">
        {% block body %}{% endblock %}
    </div>

    <div class="container">
        <div class="row">
            <hr>
            <div class="col-lg-12">
                <p id="footer-text" class="muted pull-right">© 2016 Alexandru Hutanu. All rights reserved</p>
            </div>
        </div>
    </div>

    <!-- jQuery via Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap - Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
