{% extends 'base.html.twig' %}

{% block title %}Delivery Estimates{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row container">
                <div class="col-sm-8 col-sm-offset-3">
                    <h2 id="delivery-title">Delivery Estimate: {{ deliveryEstimate }}</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}