{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row container">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 id="error-title">{{ error }}</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}