{% extends 'base.html.twig' %}

{% block body %}
    <section id="delivery">
        <div class="container">
            <div class="row container">
                <div class="col-sm-8 col-sm-offset-4">
                    {{ form(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}